<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit your listing</h3>
    <form
      method="post"
      action="/listings/<%=foundListing._id%>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <lable for="title" class="form-label">Title</lable>

        <input
          name="listing[title]"
          value="<%=foundListing.title%>"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title Looks Good!</div>
        <div class="invalid-feedback">Please Enter The Title</div>
      </div>

      <div class="mb-3">
        <lable for="description" class="form-label">Description</lable>

        <textarea name="listing[description]" class="form-control" required>
<%=foundListing.description%> </textarea
        >
        <div class="valid-feedback">Description Looks Good!</div>
        <div class="invalid-feedback">Please Enter The Description</div>
      </div>
      <div class="mb-3">
        Original Listing Image <br />
        <img src="<%= originalImageUrl %>" />
      </div>
      <div class="mb-3">
        <lable for="image" class="form-label">Upload New Image</lable>

        <input
          type="file"
          name="listing[image]"
          value="<%=foundListing.image.url%>"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <lable for="price" class="form-label">Price</lable>

        <input
          name="listing[price]"
          value="<%=foundListing.price%>"
          type="number"
          class="form-control"
          required
        />
        <div class="valid-feedback">Price Looks Good!</div>
        <div class="invalid-feedback">Please Enter The Price</div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <lable for="location" class="form-label">Location</lable>

          <input
            type="text"
            name="listing[location]"
            value="<%=foundListing.location%>"
            class="form-control"
            required
          />
          <div class="valid-feedback">Location Looks Good!</div>
          <div class="invalid-feedback">Please Enter The Location</div>
        </div>

        <div class="mb-3 col-md-8">
          <lable for="country" class="form-label">Country</lable>

          <input
            type="text"
            name="listing[country]"
            value="<%=foundListing.country%>"
            class="form-control"
            required
          />
          <div class="valid-feedback">Country Looks Good!</div>
          <div class="invalid-feedback">Please Enter The Country</div>
        </div>
      </div>
      <button class="btn btn-dark edit-btn mt-3">Edit Listing</button>
    </form>
  </div>
</div>
